<div class="searchContainer">
  <form class="form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input
      formControlName="searchInput"
      class="searchInput form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="searchbtn btn btn-secondary my-2 my-md-0" type="submit">
      Search
    </button>
  </form>
</div>

<!-- <navbar></navbar> -->
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img
      src="../assets/images.jpeg"
      *ngIf="(weatherData.main.temp - 32) * (5 / 9) > 15"
    />
    <img
      src="../assets/pngtree-creative-sunset-landscape-background-backdrop-sun-environment-vector-png-image_28473810.jpg"
      *ngIf="(weatherData.main.temp - 32) * (5 / 9) <= 15"
    />

    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ (weatherData.main.temp - 32) * (5 / 9) | number : "1.0-0" }}°C
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature.png" alt="" />
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ (weatherData.main.temp_min - 32) * (5 / 9) | number : "1.0-0" }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }}%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hot.png" alt="" />
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ (weatherData.main.temp_max - 32) * (5 / 9) | number : "1.0-0" }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }}m\s</div>
      </div>
    </div>
  </div>
</div>


<!-- comment this code bellow if tou are using the api -->
<div class="container">
  <div class="upper-data">
    <img src="../assets/images.jpeg" *ngIf="14 > 15" />
    <img
      src="../assets/pngtree-creative-sunset-landscape-background-backdrop-sun-environment-vector-png-image_28473810.jpg"
      *ngIf="14 <= 15"
    />

    <div class="weather-data">
      <div class="location">City</div>
      <div class="temperature">30°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature.png" alt="" />
          <span>min</span>
        </div>
        <div class="info-block-value">28°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">15%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hot.png" alt="" />
          <span>max</span>
        </div>
        <div class="info-block-value">32°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="" />
          <span>wind</span>
        </div>
        <div class="info-block-value">15m\s</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
